:root {
      --navbar-bg-color: hsl(0, 0%, 15%);
      --navbar-text-color: hsl(0, 0%, 85%);
      --navbar-text-color-focus: white;
      --navbar-bg-contrast: hsl(0, 0%, 25%);
      --navbar-height: 84px;}
* {
      box-sizing: border-box;
      margin:0;
      padding:0;}
html{
      font-family: 'Space Mono', monospace, Arial, Helvetica, sans-serif;
      font-size: 1rem;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;}
body{
      width: 100%;
      height: 100%;
      display: grid;
}
/*****************************************************/
@media (min-width: 200px) and (max-width: 359px){
/*****************************************************/


#mainWrapper{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas: 
            'navBar'
            'home'
            'about'
            'menu'
            'order'
            'contact';
      grid-template-rows: 84px
                        calc(100vh - 84px)
                        min-content
                        min-content
                        min-content
                        min-content
                        min-content;
      grid-template-columns: 100%;
      }

/*****************************************************/
header#navbar{
      grid-area: navBar;
}

#navbar {
      display: grid;
      overflow-x: hidden;

      height: var(--navbar-height);
      position: fixed;
      z-index: 10;
      background-color: var(--navbar-bg-color);
      left: 0;
      right: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);}
.navbar-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      align-items: center;}
.container {
      overflow-x: hidden;
      width: 200px;
      max-width: 1000px;/*
      padding: 0 .2rem;*/
      margin: 0 auto;}
.navbar-item {
      margin: 0.4em;
      width: 100%;}
.home-link, 
.navbar-link {
      color: var(--navbar-text-color);
      transition: color 0.2s ease-in-out;
      text-decoration: none;
      display: flex;
      font-weight: 400;
      align-items: center;
      transition: background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;}
.home-link:focus, 
.home-link:hover {
      color: var(--navbar-text-color-focus);}
.navbar-link {
      justify-content: center;
      width: 100%;
      padding: 0.4em 0.8em;
      border-radius: 5px;}
.navbar-link:focus,
.navbar-link:hover {
      color: var(--navbar-text-color-focus);
      background-color: var(--navbar-bg-contrast);}
.navbar-logo {
      position: relative;
      z-index: 1000;
      /*background-color: #000;*/
      /*background-color: var(--navbar-text-color-focus);*/
      background-image: url("../images/LOGO.png");
      /*border-radius: 50%;*/
      width: 30px;
      height: 30px;/*
      margin-right: 0.5em;*/}

.navbar-toggle {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;}
.icon-bar {
      display: block;
      width: 25px;
      height: 4px;
      margin: 2px;
      transition: background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
      background-color: var(--navbar-text-color);}
.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
      background-color: var(--navbar-text-color-focus);}
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
      position: absolute;
      margin: 0;
      width: 30px;}
#navbar.opened .navbar-toggle .icon-bar:first-child {
      transform: rotate(45deg);}
#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
      opacity: 0;}
#navbar.opened .navbar-toggle .icon-bar:last-child {
      transform: rotate(-45deg);}
.navbar-menu {
      z-index: 1;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: var(--navbar-height);
      bottom: 0;
      transition: opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      left: 0;
      right: 0;}
#navbar.opened .navbar-menu {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      visibility: visible;

      display: grid;
      grid-row: 4/5;
      grid-column: 2/3;
      height: 100%;}
.navbar-links {
      list-style-type: none;
      max-height: 80px;
      overflow: hidden;
      position: absolute;
      background-color: var(--navbar-bg-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      right: 0;
      margin: 1.4rem;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);}
#navbar.opened .navbar-links {
      padding: 1em;
      max-height: none;}
/*****************************************************/
#home{
      grid-area: home;
      display: grid;
      width: 100%;
      height: calc(100vh - 84px);}
#homeWrapper{
      background-image: url("../images/background.jpg");
      overflow-x: hidden;
      background-position: 35%;
      background-size: cover;

      display: grid;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 5% 90% 5%;
}

#innerHomeWrapper{
      grid-column: 2/3;
      grid-row: 2/3;
      display: grid;
      margin: 0 auto;
      grid-template-areas: 'homeItem1'
                        'homeItem2';
      grid-template-rows: 
            auto
            auto;}

.homeInfoContainer {
      display: grid;


}
#homeItem1{
      grid-area: homeItem1;
      margin: 10% auto 2% auto;
      align-content: center;
      grid-template-rows: auto 50%;
}
#homeButton1{
      display: grid;
      grid-row: 2/3;
}

#homeItem1 a{
      margin-top: 2vh;
      max-height: 20px;
}

#homeItem2{
      grid-area: homeItem2;
      margin: 10% auto 2% auto;
      align-content: center;
      grid-template-rows: auto 50%;
}
#homeItem2 a{
      margin-top: 2vh;

      max-height: 20px;
}
#homeButton2{
      display: grid;
      grid-row: 2/3;
}

.homeInfoContainer p{
      text-align: center;
      width: 100%;
      background-color:rgba(255,255,255,.78);
      font-size: 18px;
      font-variant: small-caps;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      letter-spacing: -0.8px;
      word-spacing: 0.6px;
      line-height: 1.2;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      font-style: normal;

}

.orderDeliveryButton{
      justify-content: center;
      align-content: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.orderDeliveryButton:hover{
      background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      background-color:#f24437;
      border: 2px solid #ffffff;
}
.orderDeliveryButton:focus{
      position:relative;
	top:2px;
}
.orderTakeoutButton{
      justify-content: center;
      align-content: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.orderTakeoutButton:hover{
      background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      background-color:#f24437;
      border: 2px solid #ffffff;
}
.orderTakeoutButton:focus{
      position:relative;
	top:2px;
}

/*****************************************************/
#about{
      grid-area: about;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 0 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0;}

#aboutWrapper{
      grid-row: 2/11;
      grid-column: 2/3;
      width: 92%;
      height: 100%;
      margin: 0 auto;
}



#aboutWrapper p{

      font-family:'Source Serif Pro', serif;
      width: 100%;

}

#aboutP1{
      font-family: Georgia, serif;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      white-space: nowrap;
}


p.xsmall1P{
      font-size: calc((.4em + .12vmin) + (.4em + .12vmax));}
p.xsmall2P{
      font-size: calc((.4em + .19vmin) + (.4em + .19vmax));}
p.xsmall3P{
      font-size: calc((.4em + .25vmin) + (.4em + .25vmax));}
p.small1P{
      font-size: calc((.4em + .35vmin) + (.4em + .35vmax));}
p.small2p{
      font-size: calc((.4em + .5vmin) + (.4em + .5vmax));}
p.small3p{
      font-size: calc((.4em + .7vmin) + (.4em + .7vmax));}
p.medium1P{
      font-size: calc((.4em + .85vmin) + (.4em + .85vmax));}
p.medium2P{
      font-size: calc((.4em + 1.05vmin) + (.4em + 1.05vmax));}
p.medium3P{
      font-size: calc((.4em + 1.2vmin) + (.4em + 1.2vmax));}
p.large1P {
      font-size: calc((.4em + 1.5vmin) + (.4em + 1.5vmax));}
p.large2P {
      font-size: calc((.4em + 1.9vmin) + (.4em + 1.9vmax));}
p.large3P {
      font-size: calc((.4em + 2.2vmin) + (.4em + 2.2vmax));}  
p.xLarge1P {
      font-size: calc((.4em + 2.5vmin) + (.4em + 2.5vmax));}
p.xLarge2P {
      font-size: calc((.4em + 2.75vmin) + (.4em + 2.75vmax));}
p.xLarge3P {
      font-size: calc((.4em + 3vmin) + (.4em + 3vmax));}

#aboutTitle p{
      font-size: 2vw;
}

/*****************************************************/
#menu{     
      grid-area: menu;
      display: grid;}

#menuWrapper img{
      width: 100%;
      height: auto;
      margin: 0 auto;}

/*****************************************************/
#order{
      grid-area: order;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 
                  '. order1 .'
                  '. order2 .';
      grid-template-rows: auto auto;
      grid-template-columns: auto 90% auto;}
#orderWrapper{
      grid-row: 1/3;
      grid-column: 2/3;
      display: grid;
      width: 100%;
      height: 100%;}





#ContactInfoForm input[type=text], 
#ContactInfoForm select, 
#ContactInfoForm textarea {
      width: 80%;
      margin: 0 auto;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;}
#ContactInfoForm label {
            padding: 12px 12px 12px 0;
            display: inline-block;}
#ContactInfoForm input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;}          
#ContactInfoForm input[type=submit]:hover {
            background-color: #45a049;}
.row{
      display: grid;
      width: 100%;
      height: auto;}
.col-1, .col-2 
.col-3, input[type=submit]{
      display: grid;
      width: 100%;}



      
#orderForm1{
      background-color: #f2f2f2;
      grid-column: 2/3;
      grid-row: 1/2;}

#orderForm2{
      background-color: #f2f2f2;
      grid-column: 2/3;
      grid-row: 2/3;
      display: grid;
      grid-template-areas: 'myForm1'
                        'myForm2'
                        'myForm3'
                        'myForm4'
                        'myForm5'
                        'menu2Submit';
      grid-template-rows: min-content min-content min-content min-content min-content min-content;
      grid-template-columns: 100%;
}

/*
.secondFormContainers{
      display: grid;
      grid-column: 2/5;
      width: 50%;
      height: 10%;
      margin: 0 auto;} */    
#completeOrder{
      width: 100%;
      height: auto;
      margin: 0 auto;}
#completeOrder a{
      display: grid;
      box-sizing: border-box;
      width: 80%;
      height: 80%;
      max-width:10em;
      white-space:nowrap;
      overflow:hidden;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid #555555;
      margin: auto;}
#completeOrder a:hover{
      background-color: #555555;
      color: white;}

#ContactInfoForm input[type=text]{
      display: grid;
      width: 80%;
      margin: 0 auto;
}

   



#menu1{
      grid-area: myForm1;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';
      

}
#title1{
      grid-area: title1;
}
#myForm1{
      grid-area: form1;
}
#form1Button1{
      grid-area: buttons1;
}


#title2{
      grid-area: title2;
}
#myForm2{
      grid-area: form2;
}
#form2Button2{
      grid-area: buttons2;
}



#title3{
      grid-area: title3;
}
#myForm3{
      grid-area: form3;
}
#form3Button3{
      grid-area: buttons3;
}



#title4{
      grid-area: title4;
}
#myForm4{
      grid-area: form4;
}
#form5Button5{
      grid-area: buttons5;
}



#title5{
      grid-area: title5;
}
#myForm5{
      grid-area: form5;
}
#form1Button5{
      grid-area: buttons1;
}

#menu2Submit{
      grid-area: menu2Submit;
}







#menu2{
      grid-area: myForm2;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';

}
#menu3{
      grid-area: myForm3;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';

}
#menu4{
      grid-area: myForm4;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';

}
#menu5{
      grid-area: myForm5;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';

}
#menu2Submit{
      grid-area: menu2Submit;
      display: grid;
      width: 100%;
      height: auto;
      grid-template-areas: 'title1'
                        'form'
                        'buttons1';
}

#menu1 h3{
      grid-area: title;
      grid-row: 1/2;
      grid-column: 1/2;
}

#menu1 h3, #menu2 h3,
#menu3 h3, #menu4 h3,
#menu5 h3{
      display: grid;
      width: 100%;
      overflow-x: hidden;
      width: auto;
      height: auto;
      margin: 0 auto;
      font-size: 1.2em;
      text-align: center;
}

/*
#myForm1 select, #myForm2 select,
#myForm3 select,#myForm4 select,
#myForm5 select{
      width: auto;
      max-width: 180px;
}*/

      
      
.hiddenContainerForForm{
      visibility: hidden;
}
      

      
      
.actionButtons{
      grid-column: 1/3;
      grid-row: 3/4;
      display: flex;
      justify-content: space-around;
}


      
/* Popup container - can be anything you want */
.popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

/* The actual popup */
.popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
}
          
/* Toggle this class - hide and show the popup */
.popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}












/*****************************************************/
/*****************************************************/
#contact{
      grid-row: 14/15;
      grid-column: 2/3;
      display: grid;
      overflow-x: hidden;
}
.contactContainer{
      width: 100%;
      height: auto;
      min-height: 100px;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 0 4fr 1fr 0;
}


.mapWrapper{
      grid-row: 2/3;
      grid-column: 2/3;
      position: relative;
      /*padding-bottom: 60%;*/
      height: 0;
      overflow: hidden;
}
.mapWrapper iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
}
.footerWrapper{
      grid-row: 3/4;
      grid-column: 2/3;
}

/*****************************************************/
}




@media all and (max-width:480px){
      .orderButtonLink a{
      /*display:block;*/
      margin:0.2em auto;}
      }





      @media screen and (min-width: 700px) {
            .col-25 {
                  float: left;
                  width: 25%;
                  margin-top: 6px;
                  }
                  
                  .col-75 {
                  float: left;
                  width: 75%;
                  margin-top: 6px;
                  }

            .navbar-toggle {
                display: none;
            }
            
            #navbar .navbar-menu,
            #navbar.opened .navbar-menu {
                visibility: visible;
                opacity: 1;
                position: static;
                display: block;
                height: 100%;
            }
        
            #navbar .navbar-links,
            #navbar.opened .navbar-links {
                margin: 0;
                padding: 0;
                box-shadow: none;
                position: static;
                flex-direction: row;
                list-style-type: none;
                max-height: max-content;
                width: 100%;
                height: 100%;
            }
        
            #navbar .navbar-link:last-child {
                margin-right: 0;
            }
        }